<div class="search">
  <form #form="ngForm" (submit)="onSubmit()">
    <input class="search__input" type="text" placeholder="search city" name="city" [(ngModel)]="cityName">
  </form>
</div>
<div class="container" *ngIf="weatherData">
  <div class="data">
    <div class="data__weather">
      <img src='../assets/{{weatherData.weather[0].main}}.png' class="data__icon">
      <div>
        <div class="data__location">{{ weatherData.name }}</div>
        <div class="data__temperature">{{ weatherData.main.temp - 273 | number: '1.0-0' }}&#176;C</div>
      </div>
    </div>
    <div class="data__like">
      <div class="data__like">Ощущается как {{ weatherData.main.feels_like - 273 | number: '1.0-0' }}&#176;C</div>
    </div>

  </div>
  <div class="info">
    <div class="info__block">
      <div class="info__item">
        <div class="info__name">Температура max:</div>
        <div class="info__value">{{ weatherData.main.temp_max - 273 | number: '1.0-0' }}&#176;C</div>
      </div>
      <div class="info__item">
        <div class="info__name">Температура min:</div>
        <div class="info__value">{{ weatherData.main.temp_min - 273 | number: '1.0-0' }}&#176;C</div>
      </div>
      <div class="info__item">
        <div class="info__name">Влажность:</div>
        <div class="info__value">{{ weatherData.main.humidity }}%</div>
      </div>
      <div class="info__item">
        <div class="info__name">Давление:</div>
        <div class="info__value">{{ weatherData.main.pressure }} мбар</div>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>